---
import { type BlogPost, contentfulClient } from "../lib/contentful";
import FormattedTime from "../components/FormattedTime.astro";
import Main from "../layouts/Main.astro";
import Hero from "../assets/hero.png";
import { Image, getImage } from "astro:assets";
import { getOgpUrl } from "../lib/ogp";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const articles = await Promise.all(
  entries.items.map(async (item) => {
    const { slug, title, subtitle, thumbnail, newsType } = item.fields;

    return {
      slug,
      subtitle,
      thumbnail: {
        src: await getImage({
          src: getOgpUrl({
            thumbnail: thumbnail?.fields.file?.url,
            title,
            highlight: newsType,
          }),
          format: "webp",
          width: 1440,
          height: 1080,
        }).then((result) => result.src),
        alt: thumbnail?.fields.description ?? "サムネイル",
      },
      createdAt: new Date(item.sys.createdAt),
    };
  })
);
---

<Main>
  <header>
    <p class="text-center">
      <Image
        class="inline md:max-w-lg"
        src={Hero}
        alt="ちょっと役立たない情報をあなたに"
      />
    </p>
  </header>
  <section class="max-w-6xl mx-auto">
    <h2 class="sr-only">記事一覧</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        articles.map((article) => (
          <li class="mt-4">
            <a href={`/articles/${article.slug}/`}>
              <img
                class="aspect-4/3 object-cover"
                src={article.thumbnail.src}
                alt={article.thumbnail.alt}
                width="1440"
                height="1080"
              />
              <h4 class="font-bold text-xl mt-2">{article.subtitle}</h4>
              <p class="mt-2">
                <FormattedTime date={article.createdAt} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <section class="mt-6">
    <h2 class="text-2xl md:text-3xl font-bold text-center">相互リンク</h2>
    <ul class="mt-4 text-center *:m-1 *:inline-block leading-0">
      <li>
        <a href="https://syobon.net" target="_blank">
          <Image
            src="https://syobon.net/img/banner.png"
            alt="SyoBoN's Home"
            inferSize
          />
        </a>
      </li><li>
        <a href="https://sunset0916.net" target="_blank">
          <Image
            src="https://sunset0916.net/img/banner.png"
            alt="サンセットのウェブサイト"
            inferSize
          />
        </a>
      </li><li>
        <a href="https://potofu.moe" target="_blank">
          <Image
            src="https://potofu.moe/banner.png"
            alt="potofu.moe"
            inferSize
          />
        </a>
      </li>
    </ul>
  </section>
</Main>
