---
import { Image } from "astro:assets";
import MisskeyIcon from "../assets/icons/misskey.svg";
import XIcon from "../assets/icons/x.svg";
import { SITE_TITLE } from "../consts";

interface Props {
  title: string;
  url: URL;
}

const { title, url } = Astro.props;
const content = encodeURIComponent(`${title} | ${SITE_TITLE}\n${url}`);
---

<aside class="not-prose">
  <div class="flex gap-3 items-center justify-end pr-2 [&>a]:p-1.5 [&>a]:w-8 [&>a]:h-8 [&>a]:rounded-md">
    <p>シェア</p>
    <a
      class="bg-lime-500"
      target="_blank"
      href={`https://misskey-hub.net/share/?text=${content}`}
    >
      <Image src={MisskeyIcon} alt="Misskey" />
    </a>
    <a
      class="bg-black"
      target="_blank"
      href={`https://x.com/intent/post?text=${content}`}
    >
      <Image src={XIcon} alt="X formerly Twitter" />
    </a>
  </div>
</aside>
